@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;

}

body {
  margin: 0;
  height: 100vh;
  padding: 0 20px;
  border: 0;
  background: linear-gradient(120deg, #000000, #2c2d31);
}
.imc-cotainer h1 {
  margin: 0;
  letter-spacing: 3px;
  font-size: 30px;
  text-align: center;
  color: white;
  padding-top: 15px;
  display: block;
  font-weight: 700;
  border-bottom: 2px solid white;

}

.form {
  margin: 0 auto;
  background-color: #FDFDFDBB;
  height: 240px;
  width: 500px;
  border-radius: 20px;
  display: block;
  border: solid 1px black;
  box-shadow: 0 0 40px 0 #ddd;
  padding: 40px 20px;
}

.form:hover {
  transition: 0.4s;
  transform: scale(1.02);
}

.row-one{
    /* padding: 50px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.row-one p{
margin: 0;

}

.row-two {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.row-two p{
    margin: 0;
}

.text-input {
  width: 60px;
  height: 30px;
  border-radius: 10px;
  background-color: white;
  border: none;
  outline: none;
  padding: 5px 10px;
  cursor: pointer;
}

.text-input:last-child {
  margin-bottom: 35px;
}

.text-input:hover {
  background-color:rgba(0, 0, 0, 0.685);
}

#submit {
  border: none;
  border-radius: 10px;
  height: 40px;
  width: 140px;
  background-color: black;
  color: #fff;
  margin: auto;
  display: block;
  outline: none;
  cursor: pointer;
}

#submit:hover {
  background-color: rgba(0, 0, 0, 0.685);
}

 .container {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  user-select: none;
} 

.container input {
  position: absolute;
  opacity: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: rgba(0, 0, 0, 0.685);
}

.container input:checked ~ .checkmark {
  background-color: black;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
